<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- Custom CSS import from css-->
	<link rel="stylesheet" href="/css/query.css">

	<title>LibMan - query</title>

</head>

<body>
	<div class="form-container">
		<div class="content">
			<div class="row">
				<div class="col-md-14 margin">
					<!-- BEGIN Portlet PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="glyphicon glyphicon-calendar"></i>
								<span class="caption-subject text-uppercase"> LibMan</span>
								<span class="caption-helper">search for books...</span>
							</div>
							<div class="actions">
								<a href="/logout" class="btn">
									<i class="glyphicon glyphicon-user"></i>
									Logout
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<section class="search-sec">
								<div class="container">
									<form action="/query" method="post" novalidate="novalidate">
										<div class="row">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-4 col-md-4 col-sm-12 mb-3">
														<span class="caption-helper">
															<h3>Query</h3>
														</span>
													</div>
													<div class="col-lg-2 col-md-4 col-sm-12 col-md-offset-6 p-4">
														<div class="input-wrapper">
															<input type="reset" value="reset"
																class="btn btn-danger wrn-btn">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-4 col-md-4 col-sm-12">
														<div class="input-wrapper">
															<span class="input-group-text" id="basic-addon1">ISBN</span>
															<input type="text" class="form-control search-slt"
																placeholder="ISBN" name="ISBN">
														</div>
													</div>
													<div class="col-lg-8 col-md-8 col-sm-12 ">
														<div class="input-wrapper">
															<span class="input-group-text" id="basic-addon1">Book
																Title</span>
															<input type="text" class="form-control search-slt"
																placeholder="Book Title" name="Title">
														</div>
													</div>
												</div><br>
												<div class="row">
													<div class="col-lg-4 col-md-6 col-sm-12 ">
														<div class="input-wrapper">
															<span class="input-group-text" id="basic-addon1">Book
																Author</span>
															<input type="text" class="form-control search-slt"
																placeholder="Book Author" name="Author">
														</div>
													</div>
													<div class="col-lg-4 col-md-3 col-sm-12">
														<div class="input-wrapper">
															<span class="input-group-text"
																id="basic-addon1">Category</span>
															<input type="text" class="form-control search-slt"
																placeholder="Category" name="Category">
														</div>
													</div>
													<div class="col-lg-4 col-md-3 col-sm-12 ">
														<div class="input-wrapper">
															<span class="input-group-text"
																id="basic-addon1">Edition</span>
															<input type="text" class="form-control search-slt"
																placeholder="Edition" name="Edition">
														</div>
													</div>
												</div><br>
												<div class="row">
													<div class="col-lg-4 col-md-4 col-sm-12 ">
														<div class="input-wrapper">
															<span class="input-group-text" id="basic-addon1">Published
																Date</span>
															<input id="picker" name="date" type="date"
																class="form-control search-slt" name="Published_date">
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 ">
														<div class="input-wrapper">
															<span class="input-group-text" id="basic-addon1">Issued
																Date</span>
															<input id="picker" name="date" type="date"
																class="form-control search-slt" name="Issued_date">
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 ">
														<div class="input-wrapper">
															<span class="input-group-text"
																id="basic-addon1">Availability</span>
															<div class="toggle_radio">
																<input type="radio" checked class="toggle_option"
																	id="first_toggle" name="toggle_option" value="Available">
																<input type="radio" class="toggle_option"
																	id="second_toggle" name="toggle_option" value="Not_available">
																<label for="first_toggle">Available</label>
																<label for="second_toggle">Not Available</label>
																<div class="toggle_option_slider">
																</div>
															</div>
														</div>
													</div>
												</div><br>
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12">
														<div class="input-wrapper">
															<input type="submit" value="submit"
																class="btn btn-success wrn-btn">
														</div>
													</div>
												</div>

											</div>
									</form>
								</div>
							</section>
							<!-- </div> -->
						</div>
						<!-- END Portlet PORTLET-->
					</div>

				</div>
			</div>


		</div>
	</div>

	<div class="container footer" style="text-align: center">
		<strong>Lib<a href="">Man</a></strong>
	</div>
	<br>
	<br>

	<!-- Optional JavaScript -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>

</html>