body {
  font-family: 'Trebuchet MS', sans-serif;
  transition: 3s;
  margin: 0px;
  padding: 0px;
  background-image: url('https://assets.poetryfoundation.org/uploads/contentImages/_twitter/library-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  margin-top: 10%;
  border: 1px solid #CCD1D1;
  border-radius: 5px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  max-width: 50%;
}

.ads {
  /* background-image: url('https://assets.poetryfoundation.org/uploads/contentImages/_twitter/library-header.jpg'); */
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  padding: 15px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/opacity/see-through */
}

.ads h1 {
  margin-top: 20%;
}

#fl {
  font-weight: 600;
}

#sl {
  font-weight: 100 !important;
  color: #08fceb;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  border-radius: 50%;
  /* animation: mymove 2s infinite; */
}

@keyframes mymove {
  from {
    border: 1px solid #F2F3F4;
  }

  to {
    border: 8px solid #F2F3F4;
  }
}

.login-form {
  padding: 15px;
  background: radial-gradient(circle, rgba(253, 255, 255, 1) 16%, rgba(184, 111, 17, 1) 81%);
  background-size: cover;
}

.login-form h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-control {
  font-size: 14px;
}

.text-area {
  border-radius: 0;
  border-bottom-right-radius: 10px;
}

.text-area:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group-text {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 0;
  /* font-weight: 200; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0;
  font-size: 0.9rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}